@model Category
<div class="row w-100 justify-content-center px-0 my-auto">
    <div class="card shadow mb-5 border-0 px-0 col-lg-8 col-sm-12">
        <div class="card-header bg-secondary bg-gradient text-white">
            <h2>@((Model.IsActive) ? "Block" : "UnBlock") Category</h2>
        </div>
        <div class="card-body">
            <h4>Are you sure you want to @((Model.IsActive) ? "block" : "unblock") this category?</h4>
            <dl class="row">
                <dt class="col-sm-3">Category Code</dt>
                <dd class="col-sm-9">@Model.Code</dd>

                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Model.Description</dd>

                <dt class="col-sm-3">Created By</dt>
                <dd class="col-sm-9">@Model.CreatedBy</dd>

                <dt class="col-sm-3">Created At</dt>
                <dd class="col-sm-9">@Model.CreatedAt.ToString("g")</dd>
            </dl>

            <form method="post" asp-action="BlockUnblock">
                @Html.AntiForgeryToken() <!-- CSRF protection token -->
                <input type="hidden" asp-for="CategoryId" />
                <div class="row">
                    @if (Model.IsActive)
                    {
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary w-100">Block</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary w-100">UnBlock</button>
                        </div>
                    }

                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-outline-secondary w-100">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
