@model RequisitionFileViewModel

<div class="row justify-content-center">
    <div class="card shadow mt-4 border-0 col-lg-8 px-0">
        <div class="card-header bg-secondary bg-gradient m-lg-0">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="text-white py-2">
                         Add Supplement
                    </h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            
            <form asp-action="AddFile" method="post" enctype="multipart/form-data">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <strong>There are some errors in your form:</strong>
                        <ul>
                            @foreach (var state in ViewData.ModelState.Values)
                            {
                                foreach (var error in state.Errors)
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            }
                        </ul>
                    </div>
                }
                <div class="border p-1">
                    <div class="row pb-2">
                        <div class="py-2 col-12">
                            <input type="hidden" asp-for="RequisitionId" />
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="py-2 col-12">
                            <label for="file" >Upload File</label>
                             <input type="file" name="file" class="form-control" />
                        </div>


                        <div class="row mt-3">
                            <div class="col-6 col-md-6">
                                <button type="submit" class="btn btn-primary form-control">
                                    Save
                                </button>
                            </div>
                            <div class="col-6 col-md-6">
                                <a asp-controller="Requisition" asp-action="Index" class="btn btn-outline-secondary form-control">Back to Index</a>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="row mt-2"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<hr />

@if (Model.ExistingSupplements?.Count > 0)
{
    <div class="row justify-content-center">
    <div class="card shadow mt-4 border-0 col-lg-8 px-0">
        <div class="card-body p-4 ">
            <div class="row mb-4">
                <div class="col-md-6 fw-bold fs-2">
                    Enter file name:
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" id="searchInput" class="form-control" placeholder="Search..." />
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="userTable">
                <thead>
                    <tr>
                        <th>File Number</th>
                        <th class="description-cell">Description</th>
                        <th>file added by</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplement in Model.ExistingSupplements.OrderBy(u => u.Number))
                    {
                        <tr>
                            <td>@supplement.Number</td>
                            <td>@supplement.Description</td>
                            <td>@supplement.FileAddedBy</td>
                            <td>
                                    <a href="@supplement.FileLink" target="_blank" class="text-decoration-none"> 
                                         <i class="bi bi-arrow-down-circle-fill"></i> &nbsp; Download
                                     </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
}
else
{
    <p>No supplements uploaded yet.</p>
}

<br />
<hr />



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('keyup', function () {
                var searchValue = $(this).val().toLowerCase();
                $('#userTable tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                });
            });
        });
    </script>
}

